<h1>Password Generator</h1>

<div>
  <label>Length</label>
  <input (input)="onChangeLength($event)"/>
</div>

<div>
  <label>Use Letters</label>
  <input type="checkbox" (change)="onChangeUseLetters()">
</div>

<div>
  <label>Use Numbers</label>
  <input type="checkbox" (change)="onChangeUseNumbers()" />
</div>

<div>
  <label>Use Symbols</label>
  <input type="checkbox" (change)="onChangeUseSymbols()"/>
</div>

<button [disabled]="!(passwordLength && (useLetters || useNumbers || useSymbols))"
      (click)="onButtonClick()">Generate!
</button>

<div>
  <label>Your Passaword</label>
  <input [value]="texto"/>
</div>
